body {
    background-color: #ECEC10;
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    color: #000000;
  }
  
  h2 {
    color: #000000;
    margin-top: 40px;
  }
  
  form {
    margin-top: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  input {
    padding: 5px;
    margin-right: 10px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    cursor: pointer;
  }
  
  p {
    margin-top: 20px;
  }
  
  #output-luas,
  #output-keliling {
    font-weight: bold;
  }
  